##Project Goal

The goal of this project is to apply data mining techniques to the **Adult Income dataset**.  
Specifically, the objective is to perform **classification** (to predict whether an individual's income is `<=50K` or `>50K`) and **clustering** (to group individuals with similar characteristics).  

This project is important because income prediction is widely used in business and social research for decision-making and policy planning.

## Dataset Source

The dataset was obtained from Kaggle:  
[Adult Income Dataset](https://www.kaggle.com/datasets/wenruliu/adult-income-dataset)

##Dataset Description

The Adult Income dataset contains **48,842 instances (rows)** and **15 attributes (columns)**.  
These attributes describe demographic and work-related information about individuals.  

- **age** (numeric)  
- **workclass** (categorical)  
- **fnlwgt** (numeric)  
- **education** (categorical)  
- **education-num** (numeric)  
- **marital-status** (categorical)  
- **occupation** (categorical)  
- **relationship** (categorical)  
- **race** (categorical)  
- **sex** (categorical)  
- **capital-gain** (numeric)  
- **capital-loss** (numeric)  
- **hours-per-week** (numeric)  
- **native-country** (categorical)  
- **income** (target class: <=50K, >50K)  

The **target attribute** is `income`, which has two classes:  
- `<=50K`  
- `>50K`  

The dataset is imbalanced since most individuals fall into the `<=50K` class.  
A sample of the raw dataset is also displayed below.

In [6]:
!unzip archive.zip

Archive:  archive.zip
  inflating: adult.csv

In [7]:
import pandas as pd
data = pd.read_csv("adult.csv")

In [9]:
print("Number of records:", data.shape[0])
print("Number of attributes:", data.shape[1])

Number of records: 48842
Number of attributes: 15

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [ ]:
print(data["income"].value_counts())

In [ ]:
print(data.head())